@model repo.Models.Department
@{
    ViewData["Title"] = "Детали кафедры";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-info text-white">
            <h4><i class="fas fa-building"></i> Детали кафедры</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 40%">ID:</th>
                            <td>@Model.Id</td>
                        </tr>
                        <tr>
                            <th>Название кафедры:</th>
                            <td>@Model.Name</td>
                        </tr>
                        <tr>
                            <th>Заведующий:</th>
                            <td>@Model.HeadOfDepartment</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 40%">Телефон:</th>
                            <td>@Model.Phone</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>@Model.Email</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="mt-4">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
                    <i class="fas fa-edit"></i> Редактировать
                </a>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Назад
                </a>
            </div>
        </div>
    </div>
</div>